/*
div#content {
  margin-right: 460px; /* rechte spalte + plus abstand rechts von rechter spalte + margin nach rechts vom content 
}

div#right {
  width: 440px;
}

#content { min-width: 900px;  }
#content #tabs { top: 7px; /* damit das fieldset in #right mit der linie von den tabs auf einer höhe ist  margin-bottom: 18px; }
#content #tabs div.ui-tabs-panel { min-height: 540px; }
*/