#    <Directory "D:/www/psc-cms/Umsetzung/base/htdocs">
#      RewriteEngine On
#      RewriteBase /
      
      # Allow these directories and files to be displayed directly:
      # - index.php (DO NOT FORGET THIS!)
      # - robots.txt
      # - favicon.ico
      # - Any file inside of the specified directories
#      RewriteCond $1 ^(index\.php|robots\.txt|favicon\.ico|img|js|css|flash)

      # No rewriting
#      RewriteRule ^(.*)$ - [PT,L]
      
      # Rewrite all other URLs to index.php/URL
#      RewriteRule ^(.*)$ index.php/$1 [PT,L]
#    </Directory>
