/vendor
/psc-cms.komodoproject
/composer.lock
/build/coverage
/files/uploads/*
/tests/files/fixtures/InstallPscFrameworkTest/test/*
/tests/files/fixtures/UploadManagerTest/tmp/*
/tests/files/fixtures/ArrayCollectionInterfaceExtensionTest/*
/tests/files/TestClass.compiled.php
/tests/files/fixtures/BuilderTest/test/test.ics
/tests/files/fixtures/ModuleBuilderTest/*
/files/images/*
/files/cache/images/*
/tests/files/fixtures/InvoiceTest/invoice.docx
/tests/files/fixtures/MainTemplateTest/out.docx
/tests/files/fixtures/WriteChangelogTaskTest/myChangelog.php
/tests/files/fixtures/SimpleRarArchiveTest/unpacked.srt
/tests/files/fixtures/SimpleRarArchiveTest/extract/my/out.php
/tests/files/fixtures/CreateBootstrapTaskTest/target/base/src/auto.prepend.php
/*.sublime-workspace

/application/src/Proxies/__CG__PscEntitiesPage.php

/application/src/Proxies/__CG__PscEntitiesNavigationNode.php

/tests/files/fixtures/ConfigureApacheTaskTest/target/etc/apache2
